
.container{
    /* height: 200vh; */
    /* box-sizing: border-box; */
    border-radius: 5px;
    box-shadow: 10px 10px 100px rgb(125, 117, 0), -10px -10px 100px rgb(188, 188, 18);
    padding: 5px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#box1{
    margin-bottom: 5px;
    font-size: larger;
    color: rgb(253, 253, 253);
    font-family: "Permanent Marker", cursive;
    font-weight: 120;
    font-size: 23px;
    animation: box1 3s backwards ;
}

  @keyframes box1 {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@media  (max-width: 600px) {
    #box1 {
      font-size: 25px;
  }
}

#box2{
    font-size: 30px;
    font-family: "Satisfy", cursive;
    color: red;
    animation: box2 5s backwards;
    animation-delay: 1s;
}

@keyframes box2 {
    from { opacity: 0; transform: translateX(-100%) rotate(-120deg); }
    to { opacity: 1; transform: translateX(0) rotate(0); }
}


@media  (max-width: 600px) {
    #box2 {
      font-size: 35px;
  }
}

#box3{
    margin-top: 30px;
    width: 250px;
    height: 322px;
    font-size: 70px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgb(210, 2, 2), -3px -3px 20px rgb(210, 2, 207);
    /* opacity: 0; */
    transform: translatey(20px); /* Move it down slightly */
    animation: box3 3s backwards;
    animation-delay: 3s; /* Delay the animation by 3 seconds */
        }
/* Define the keyframes for the fade-in animation */
        @keyframes box3 {
            from {
                opacity: 0;
                transform: translateY(100px); /* Move it back to its original position */
            }
            to {
                opacity: 1;
                transform: translateY(20px); /* Move it back to its original position */
            }
        }

#box4{
    font-family: "Merienda", cursive;
    margin-top: 55px;
    padding: 10px;
    color:whitesmoke;
    transform: translatey(20px);
    animation: box4 5s backwards;
    animation-delay: 3s;
}
@keyframes box4 {
    from {
        opacity: 0;
        transform: translateY(100px); /* Move it back to its original position */
    }
    to {
        opacity: 1;
        transform: translateY(20px); /* Move it back to its original position */
    }
}



#box5{
    font-size: 20px;
    color:  rgb(245, 156, 214);
    margin-top: px;
    padding-left: 2px;
    transform: translatey(20px);
    animation: box5 6s backwards;
    animation-delay: 3s;
}
@keyframes box5 {
    from {
        opacity: 0;
        transform: translateY(100px); /* Move it back to its original position */
    }
    to {
        opacity: 1;
        transform: translateY(20px); /* Move it back to its original position */
    }
}

#box6{
    padding-right: 5px;
    font-family: "Merienda";
    color: blanchedalmond;
    align-self: flex-end;
    transform: translatey(20px);
    animation: box6 6s backwards;
    animation-delay: 3s;
}
@keyframes box6 {
    from {
        opacity: 0;
        transform: translateY(100px); /* Move it back to its original position */
    }
    to {
        opacity: 1;
        transform: translateY(20px); /* Move it back to its original position */
    }
}
