.container{
    height: 100vh;
    box-sizing: border-box;
    padding: 5px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.box{
    border: 1px solid white;
}
#box1{
    font-size: 50px;
    margin-bottom: 5px;
    color: rgb(218, 173, 237);
    font-family: "Playwrite AR";
    text-decoration-style: st;
}
@media  (max-width: 600px) {
    #box1 {
      font-size: 25px;
  }
}
#box2{
    border: 1px solid black;
    font-size: 70px;
    color: red;
}
@media  (max-width: 600px) {
    #box2 {
      font-size: 35px;
  }
}
#box3{
    margin-top: 50px;
    /* height: 300px; */
    width: 250px;
    border: 1px solid black;
    font-size: 70px;
    /* border: 1px solid wheat; */
}
